@charset "UTF-8";

body {
	background: linear-gradient(90deg, purple, RGB(100 149 237)); 
}

.header {
    font-size: 22px;
    font-family: serif;
    color: white;
	text-align: center;
}


.header h1{
    margin-top: 5%;
    margin-bottom:3%;
}

.header h3 {
    font-size: 20px;
    font-family: serif;
    color: white;
    margin: 1% 0.5%; 
}




#clockForm {
    position: absolute; 
    top: 3%;         
    left: 3%;  
    color: white;
}

.analog-clock {
    position: relative;
    width: 120px;
    height: 120px;
    border: 6px solid #4CAF50;
    border-radius: 50%;
    margin: 20px auto;
    background: radial-gradient(circle, #fefefe 90%, #ccc);
}

.hand {
    position: absolute;
    width: 50%;
    height: 2px;
    background: black;
    top: 50%;
    left: 50%;
    transform-origin: 0% 50%;
    transition: transform 0.3s ease;
}

.hand.hour {
    width: 35%;
    height: 3px;
    background: #222;
}

.hand.minute {
    width: 45%;
    height: 2px;
    background: #333;
}

.hand.second {
    width: 50%;
    height: 1px;
    background: red;
}






#linkToMain{
    padding-top: 10%;
    text-align: center;
}


.round-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white !important;
    text-decoration: none !important;
    border-radius: 12px;          
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.round-button:hover {
    background-color: #45a049;   
}






